{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Flasky Password Reset {% endblock %}

{% block page_content %}
<div class="page-header">
	<h1> Password reset</h1>
</div>
<div class="col-md-4">
{% if method is equalto 'GET' %}
{{ wtf.quick_form(form) }}
{% else  %}
<p> Password is reset successfully </p>
{% endif %}
</div>

<p> Date and time is {{ moment(current_time).format('LLL') }} </p>

<p> That was {{ moment(current_time).fromNow(refresh=True) }} </p>
{% endblock %}

