/home/deepak/blog_for_grunt/data-dev.sqlite
/home/deepak/blog_for_grunt/data-test.sqlite
/home/deepak/blog_for_grunt/data.sqlite
/home/deepak/blog_for_grunt/app/static/js/index.min.js
/home/deepak/blog_for_grunt/app/static/js/jquery.min.js
/home/deepak/blog_for_grunt/app/static/js/video.min.js
/home/deepak/blog_for_grunt/app/static/css/style.min.css