/*
* Custom variables
*/
$main-font: 'Lato', sans-serif;
$sub-font: 'Montserrat', sans-serif;
$fancy-font: 'Kaushan Script', cursive;
$font-size: 16px;
 
$black: #000;
$white: #FFF;
$grey: #585c65;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;
$orange: #FF5733;
$blue: #3466a1;
$comment-color: #191717;
 
$padding: 10px;
$margin: 10px;
 
/*
* Override Bootstrap variables
*/
$font-family-sans-serif: $main-font;

@import 'bootstrap';

* {
    position: relative;
    box-sizing: border-box;
}
 
body {
    color: $grey;
    font-size: $font-size;
}
 
header {
    max-height: 600px;
    height: 600px;
    overflow: hidden;

    img {
        position: fixed;
        top: 0px;
        left: 50%;
        margin-left: -600px;
        width: 1200px;
     
        @media screen and (min-width: $screen-lg) {
            top: auto;
            left: auto;
            margin: 0;
            width: 100%;
        }
    }

    .name {
        font-size: 21px;
        position: absolute;
        top: 50px;
        left: 50px;
        color: $white;
    }
 
    .titles {
        position: absolute;
        bottom: 40%;
        width: 100%;
        text-align: center;
 
        @media screen and (min-width: $screen-lg) {
            bottom: 50%;
        }
    }
 
    h1, h2 {
        width: 100%;
        color: $white;
        margin: 0;
    } 

    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 72px;
        letter-spacing: 0.06em;
        margin-bottom: $margin;
 
        span {
            display: block;
 
            @media screen and (min-width: $screen-md) {
                display: inline;
            }
        }
     }
 
     h2 {
        font-size: 32px;
        width: 70%;
        margin: 0 auto;
 
        @media screen and (min-width: $screen-lg) {
            width: 100%;
            margin: 0;
        }
     }

    .social {
        position: absolute;
        top: 55px;
        right: 50px;
        overflow: hidden;
 
        a {
            float: left;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            text-indent: -9999px;
            background-image: url(../images/fb_20.png), url(../images/tw_20.png), url(../images/insta_20.png);
            background-repeat: no-repeat, no-repeat, no-repeat;
            opacity: 1;
 
            &:hover {
                opacity: 1.0;
            }
/* 
            @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (-min-device-pixel-ratio: 2) {
                background: url(../images/twitter.png) no-repeat;
                background-size: 76px 26px;
            }
 */
            &.facebook {
                background-position: 0px 0px;
            }
 
            &.twitter {
                background-position: -25px 0px;
            }
 
            &.instagram {
                background-position: -50px 0px;
            }
        }
     }
}

.instagram-wrap {
    background: $lightgrey;

}

.instagram-content {
    h3 {
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        padding: $padding*5 0;
        color: darken($lightgrey, 40%);
    }

    .photo-box {
        margin: $margin*3 $margin*3 $margin*3 $margin*3;

        .image-wrap {
            img {
                float: left;
                width: 25%;
                height: 25%;
                margin: 10px;
                border: 3px solid $orange; 
            }

            .likes {
                position: absolute;
                bottom: 5px;
                left: 15px;
                padding: $padding/2;
                background: $black;
                background: rgba($black, 0.4);
                color: $white;
            }
        }

        .description {
            font-family: $sub-font;
            font-size: 12px;
            background: $white;
            color: $mediumgrey;
            letter-spacing: 1px;
            padding: $padding*1.5;
            height: 75px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .image-post {
            img {
                float: left;
                width: 75%;
                height: 75%;
                margin: 10px;
                border: 3px solid $orange; 
            }
        }
    }
}

.fancy-font {
    font-family: $fancy-font;
}
