<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{ post.header }}</title>   
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
  
      <!-- facebook meta fields-->
      <meta property="fb:app_id" content="966242223397117" />
      <meta property="og:url" content="{{ url_for('main.post', id=post.id, _external=True) }}" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ post.header }}"/>
      <meta property="og:description" content="{{ post.body_clean() }}"/>
      <meta property="og:image" content="{{ post.render_tactics_pic() }}"/>
      <meta property="og:image:height" content="720"/>
      <meta property="og:image:width" content="1200"/>
      <meta property="og:locale" content="en_US"/>
      <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename = 'css/animate.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename = 'css/blog_post.css') }}" rel="stylesheet">
      <link rel="shortcut icon" href="/static/favicon.ico">
      <!--Asset changes-->
      {% assets "tactification_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
      {% endassets %}
      <script type="text/javascript" src="../static/js/tinymce/tinymce.min.js"></script>   
      <script>tinymce.init({  selector:'#textIdwithOutUser',        
                              statusbar: false,
                              theme : "modern",
                              mode: 'textareas',
                              height: "20",
                              toolbar: false,
                              menubar: false,
                              forced_root_block : true,
                              forced_root_block : '',
                              setup: function (editor) {
                                  editor.on('change', function () {
                                  editor.save();
                                  });
                              } 
                          });</script>
      <script>tinymce.init({  selector:'#textIdwithUser',        
                              statusbar: false,
                              mode: 'textareas',
                              height: "20",
                              toolbar: false,
                              menubar: false,                            
                              theme : "modern",
                              forced_root_block : '',
                              setup: function (editor) {
                                  editor.on('change', function () {
                                   editor.save();
                                   });
                               } 
                           });
      </script>

    <script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5db2a0631ad4ba0016b305f6&product=sticky-share-buttons"></script>
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      {{ moment.include_jquery() }}
      {{ moment.include_moment() }}
      
  </head>
  <script>
      var post_url = "{{  url_for('main.post', id=post.id, _external=True) }}";
      var post_hdr = "{{ post.header }}";
      var post_id = "{{ post.id }}";
      var post_tag = "{{ post.twTag }}";
      var post_time = "{{ post.timestamp }}";
      var post_date = "{{ post.post_date_in_isoformat() }}";
      var submit_url = "{{  url_for('main.submit_comment') }}";
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      var post_pic_url = "{{ post.render_tactics_pic() }}";
  </script>   
  
  <body>
  {% import "bootstrap/wtf.html" as wtf %}
  {% include "signin.html" %}

    <div class="container-fluid custom-container">

        <div class="col-sm-9">
            <div class="jumbotron" style="background:white">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ post.header }}</h2>
                    <p class="blog-post-meta">{{ post.post_date_in_isoformat() }} </p>
                    <p class="post-body">  {{ post.markup_body() }} </p>
                </div><!-- /.blog-post -->

                <hr>
                
                {% import "_macros.html" as macros %}
        
                <!-- row for comments-->
                <div>
                    <h4>Comments</h4>
                    {% if current_user.can(Permission.COMMENT) %}
                        <div class=form-group>
                            <div style="color:black">
                                {% if current_user.is_authenticated %}
                                    <textarea id="textIdwithUser" class="form-control" rows="10" cols="100" name="comment"></textarea>
                                    <br>
                                    <button type="submit" id="submitWithOutName">Submit</button>
                                {% else %}
                                    <input id="inputId" class="form-control" type="text" size="20" name="uname" placeholder="Name">
                                    <br>
                                    <textarea id="textIdwithOutUser" class="form-control" rows="10" cols="100" name="comment" placeholder=""></textarea>
                                    <br>
                                    <button type="submit" id="submitWithName">Submit</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
        
                    <hr>
        
                    {% include '_comments.html' %}
        
                    {% if pagination %}
                        <div class="text-center">
                            <div class="pagination">
                                {{ macros.pagination_widget(pagination, '.blogpost', fragment='#comments', id=post.id, header=post.header) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div><!--jumbotron-->

        </div><!-- /.blog-main -->

        <div class="col-sm-3">
            <a class="twitter-timeline" 
                data-width="400" 
                data-border-color="#1DA1F2"
                data-height="2000"
                data-chrome="noheader"
                href="https://twitter.com/tactification1?ref_src=twsrc%5Etfw">Tweets by tactification1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.container -->

    <!-- Footer -->
    {% include "footer_file.html" %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/post.js') }}"></script>
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
      
        return t;
      }(document, "script", "twitter-wjs"));</script> 
  </body>
</html>
