{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
{% if method is equalto 'POST' %}
<h2> Feedback_type: {% if feedback_type %} {{feedback_type}} {% endif %} </h2>
<h2> email_id: {% if email_id %} {{email_id}} {% endif %} </h2>
<h2> Feedback_text: {% if feedback_text %} {{feedback_text}} {% endif %} </h2>
{% endif %}
 
{% if method is equalto 'GET' %}
{{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('lg', 2, 5)) }}
{% endif %}

<p> Date and time is {{ moment(current_time).format('LLL') }} </p>

<p> That was {{ moment(current_time).fromNow(refresh=True) }} </p>
{% endblock %}
