<hr>

	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="social-icon">
						<ul class="social-network">
							<li><a id="fbpage-link" href="https://www.facebook.com/Tactification-118217358821259" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a id="twpage-link" href="https://twitter.com/tactification1" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						</ul>	
					</div>
				</div>
				<div class="col-md-6 copyright">
					<h4>&copy; www.tactification.com. All Rights Reserved.</h4>
				</div>
			</div>								
		</div>
	</div>