<div class="modal fade" id="SigninModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">

    	  <!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
          		<h4 class="modal-title"><span class="label label-primary">SIGN IN</span></h4>
			</div>
			
        	<div class="modal-body">
	         	<form>
					<div class="text-center">
					<button class="btn btn-lg" style="background-color:#3B5998" formaction="{{ url_for('oauth_rt.oauth_authorize', provider='facebook', post_id=-1) }}">
						<i class="fa fa-facebook-square fa-lg" style="color:#FFFFFF"></i>Login with facebook</button>	
					<hr>					
					<button class="btn btn-lg" style="background-color:#00aced" formaction="{{ url_for('oauth_rt.oauth_authorize', provider='twitter', post_id=-1) }}">
						<i class="fa fa-twitter-square fa-lg" style="color:#FFFFFF"></i>Login with Twitter </button>
					</div>
        		</form> 
			</div>
        	<div class="modal-footer">
          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
        </div>
   	</div>
</div>