<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- facebook meta fields-->
    <meta property="og:url" content="{{ url_for('main.post', id=post.id, _external=True) }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.header }}"/>
    <meta property="og:description" content="{{ post.bofy }}"/>
    <meta property="og:image" content="{{ post.render_tactics_pic() }}" />

    <title>Tactificaton Post</title>

    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/style.min.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    
</head>
<script>
    var post_url = "{{  url_for('main.post', id=post.id, _external=True) }}";
    var post_hdr = "{{ post.header }}";
    var post_id = "{{ post.id }}";
    var submit_url = "{{  url_for('main.submit_comment') }}";
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var post_pic_url = "{{ post.render_tactics_pic() }}";
    console.log($SCRIPT_ROOT);
</script>   

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=613455148848789";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


	<header id="header">
        <nav class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <div class="btn-group">
						<button type="button" class="btn btn-primary"><h4>Tactification</h4>
						</button>
					</div>
                </div>				
                <div class="navbar-collapse collapse">							
					<div class="menu">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation">
                                <div class="btn-group"> 
                                    <a href="{{ url_for('.index') }}">
                                        <button type="button" class="btn btn-primary">Home</button>
                                    </a>
                                </div>    
                            </li>
							<li role="presentation">
                    		<div class="btn-group ">
                    			{% if current_user.is_authenticated %}
                        			<a href="{{ url_for('auth.logout', post_id=-1) }}">
                        				<button type="button" class="btn btn-primary">Sign Out
                        				</button>
                        			</a>
                    			{% else %}
                        			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SigninModal"> SIGN IN
                                    </button>
                    			{% endif %}
                    		</div>  
                			</li>
						</ul>
					</div>
				</div>		
            </div><!--/.container-->
        </nav><!--/nav-->		
    </header><!--/header-->	

    

    <!-- Page Content -->
    <div class="container">
        <!-- To find proper position for picture-->
        <div class="row">
            <div class="col-xs-12">
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <h1 class="post-header">{{ post.header }}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div>
                    <img id="postPic" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-md-4">
            </div>    
        </div>        

        <br>

        <div class="row">
            <div class="col-md-7 col-xs-6 col-xs-offset-6 col-md-offset-5">
                <ul class="share">                    
                    <li><button id="fb-shareBtn" type="button" onclick="fbShareButton({{ post_url }})"><i class="fa fa-facebook"></i></button></li>
                    <li><button id="tw-shareBtn" type="button" onclick="fbs_click(post_url, post_hdr)"><i class="fa fa-twitter"></i></button></li>                    
                    <li><i class="fa fa-comments" title="comments">{{ no_of_comments }}</i></li>                
                </ul>    
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-xs-12">
                <p class="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            </div>
            <div class="col-md-4">
            </div> 
        </div>
        <!-- /.row -->

        <hr>

        {% import "bootstrap/wtf.html" as wtf %}
        {% import "_macros.html" as macros %}

        <!-- row for comments-->
        <div>
            <h4>Comments</h4>
            {% if current_user.can(Permission.COMMENT) %}
                
                    <div style="color:black">
                        {% if current_user.is_authenticated %}
                            <textarea id="textIdwithUser" rows="10" cols="100" name="comment"></textarea>
                            <br>
                            <button type="submit" id="submitWithOutName">SUBMIT</button>
                        {% else %}
                            <input id="inputId" type="text" size="20" name="uname" placeholder="Name">
                            <br>
                            <textarea id="textIdwithOutUser" rows="10" cols="100" name="comment" placeholder="What do you think?"></textarea>
                            <br>
                            <button type="submit" id="submitWithName">Submit Comments</button>
                        {% endif %}
                    </div>
                    
            {% endif %}

            <hr>

            {% include '_comments.html' %}
            <div id="div1"></div>

            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=post.id) }}
                </div>
            {% endif %}
        </div>
        <!-- ./row for comments-->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Posts</h3>
            </div>

            {% for rand_post in rand_posts %}
                <div class="col-sm-3 col-xs-6">
                    <a href="{{ url_for('main.post', id= rand_post.id) }}">
                        <img class="img-responsive portfolio-item" src="{{ rand_post.tactic_url }}" alt=""/>
                    </a>
                </div>
            {% endfor %}    

            <!--div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div-->

        </div>
        <!-- /.row -->

        <hr>
    </div>
    <!-- /.container -->
                    
    <!-- Footer -->
    {% include "footer_file.html" %}
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <scrint type="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/javascript" src="../static/js/output.min.js"></script>

<div class="modal fade" id="SigninModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">

    	  <!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
          		<h4 class="modal-title"><span class="label label-primary">SIGN IN</span></h4>
			</div>
			
        	<div class="modal-body">
	         	<form>
					<div class="text-center">
					<button type="submit" class="btn btn-lg" style="background-color:#3B5998" formaction="{{ url_for('oauth_rt.oauth_authorize', provider='facebook', post_id=post.id) }}">
						<i class="fa fa-facebook-square fa-lg" style="color:#FFFFFF"></i>Login with facebook</button>	
					<hr>					
					<button type="submit" class="btn btn-lg" style="background-color:#00aced" formaction="{{ url_for('oauth_rt.oauth_authorize', provider='twitter', post_id=post.id) }}">
						<i class="fa fa-twitter-square fa-lg" style="color:#FFFFFF"></i>Login with Twitter </button>
					</div>
        		</form> 
			</div>
        	<div class="modal-footer">
          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
        </div>
   	</div>
</div>
</body>

</html>
