7<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- facebook meta fields-->
    <meta property="og:url" content="{{ url_for('main.post', id=post.id, _external=True) }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.header }}"/>
    <meta property="og:description" content="{{ post.bofy }}"/>
    <meta property="og:image" content="{{ post.render_tactics_pic() }}" />

    <title>Tactificaton Post</title>

    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/style.min.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    
</head>
<script>
    var post_url = "{{  url_for('main.post', id=post.id, _external=True) }}";
    var post_hdr = "{{ post.header }}";
    var post_id = "{{ post.id }}";
    var submit_url = "{{  url_for('main.submit_comment') }}";
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var post_pic_url = "{{ post.render_tactics_pic() }}";
    console.log($SCRIPT_ROOT);
</script>   

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <script>  window.fbAsyncInit = function() {
    FB.init({
      appId            : '613455148848789',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   </script>

<header id="header">
        <nav class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
	
					
				<ul class="nav navbar-nav" role="tablist">
					<li role="presentation">
                        <div class="btn-group"> 
                            <a href="{{ url_for('.index') }}">
                                    <button id="home-btn" type="button" class="btn">Home</button>
                            </a>
                        </div>    
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right" role="tablist">
					<li role="presentation">
                    	<div class="btn-group ">
                    		{% if current_user.is_authenticated %}
                        		<a href="{{ url_for('auth.logout', post_id=post.id) }}">
                        			<button id="signout-btn" type="button" class="btn">SIGN OUT
                        			</button>
                        		</a>
                    		{% else %}
                        		<button id="signin-btn" type="button" class="btn" data-toggle="modal" data-target="#SigninModal"> SIGN IN
                        		</button>
                    		{% endif %}
                    	</div>  
                	</li>
				</ul>		
            </div><!--/.container-->
        </nav><!--/nav-->		
    </header><!--/header-->	

    {% include "post_signin.html" %}

    <!-- Page Content -->
    <div class="container">
        <!-- To find proper position for picture-->
        <div class="row">
            <div class="col-xs-12">
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <h1 class="post-header" >{{ post.header }}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div>
                    <img id="postPic" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-md-4">
            </div>    
        </div>        

        <br>

        <div class="row">
            <div class="col-md-7 col-xs-6 col-xs-offset-6 col-md-offset-5">
                <ul class="share">                    
                    <li><button id="fb-shareBtn" type="button" onclick="fb_click(post_url, post_hdr)"><i class="fa fa-facebook img-circle"></i></button></li>
                    <li><button id="tw-shareBtn" type="button" onclick="tw_click(post_url, post_hdr)"><i class="fa fa-twitter"></i></button></li>                    
                    <li><i class="fa fa-comments" title="comments">{{ no_of_comments }}</i></li>                
                </ul>    
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-xs-12">
                <p class="post-body">{{ post.body }}</p>
            </div>
            <div class="col-md-4">
            </div> 
        </div>
        <!-- /.row -->

        <hr>

        {% import "bootstrap/wtf.html" as wtf %}
        {% import "_macros.html" as macros %}

        <!-- row for comments-->
        <div>
            <h4>Comments</h4>
            {% if current_user.can(Permission.COMMENT) %}
                
                    <div style="color:black">
                        {% if current_user.is_authenticated %}
                            <textarea id="textIdwithUser" rows="10" cols="100" name="comment"></textarea>
                            <br>
                            <button type="submit" id="submitWithOutName">Submit</button>
                        {% else %}
                            <input id="inputId" type="text" size="20" name="uname" placeholder="Name">
                            <br>
                            <textarea id="textIdwithOutUser" rows="10" cols="100" name="comment" placeholder="What do you think?"></textarea>
                            <br>
                            <button type="submit" id="submitWithName">Submit</button>
                        {% endif %}
                    </div>
                    
            {% endif %}

            <hr>

            {% include '_comments.html' %}
            <div id="div1"></div>

            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=post.id) }}
                </div>
            {% endif %}
        </div>
        <!-- ./row for comments-->

        {% if rand_posts %}
        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Posts</h3>
            </div>

            {% for rand_post in rand_posts %}
                <div class="col-sm-3 col-xs-6">
                    <a href="{{ url_for('main.post', id= rand_post.id) }}">
                        <img class="img-responsive portfolio-item" src="{{ rand_post.tactic_url }}" alt=""/>
                    </a>
                </div>
            {% endfor %}    
        </div>
        <!-- /.row -->
        {% endif %}

        <hr>
    </div>
    <!-- /.container -->
                    
    <!-- Footer -->
    {% include "footer_file.html" %}
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <scrint type="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/javascript" src="../static/js/post.min.js"></script>


</body>

</html>
