<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- facebook meta fields-->
    <meta property="og:url" content="{{ url_for('main.post', id=post.id, _external=True) }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ post.header }}"/>
    <meta property="og:description" content="{{ post.body }}"/>
    <meta property="og:image" content="{{ post.render_tactics_pic() }}"/>
    <meta property="og:image:height" content="720"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:locale" content="en_US"/>



    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/style.min.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    
</head>
<script>
    var post_url = "{{  url_for('main.post', id=post.id, _external=True) }}";
    var post_hdr = "{{ post.header }}";
    var post_id = "{{ post.id }}";
    var post_tag = "{{ post.twTag }}";
    var post_time = "{{ post.timestamp }}";
    var submit_url = "{{  url_for('main.submit_comment') }}";
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var post_pic_url = "{{ post.render_tactics_pic() }}";
</script>   

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<header id="header">
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a id="site-btn" class="navbar-brand" href="{{ url_for('.index') }}">
                        <h4 class="nav-css">Tactification.com</h4>
                    </a>                      
                  </div>
                  <ul class="nav navbar-nav">
                    <li id="home-btn" class="active">
                        <a href="{{ url_for('.index') }}">
                            <h4 class="nav-css">Home</h4>
                        </a>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                    {% if current_user.is_authenticated %}
                        <a id="signout-btn" href="{{ url_for('auth.logout', post_id=-1) }}">
                            <h4 class="nav-css">Sign Out</h4></a>
                        </a>
                    {% else %}
                        <a id="signin-btn" data-toggle="modal" data-target="#SigninModal" href="#"> 
                            <h4 class="nav-css">Sign In</h4>
                        </a>
                    {% endif %}     
                    </li>                     
                  </ul>
                </div>
              </nav> 

    </header><!--/header-->	

    {% include "post_signin.html" %}

    <!-- Page Content -->
    <div class="container">
        <!-- To find proper position for picture-->
        <div class="row">
            <div class="col-xs-12">
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="jumbotron">
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-md-8">
                <h1 id="post-hdr-id" class="post-header" >{{ post.header }}
                </h1>
            </div>
            <div class="hidden-xs col-md-4">
                <button type="button" id="dateId" class="btn btn-default date-css"></p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <div>
                    <img class="img-responsive" 
                    srcset="{{ post.tactic_url_875px }} 875w, 
                            {{ post.tactic_url_1575px }} 1575w, 
                            {{ post.tactic_url_1750px }} 1750w" 
                    sizes="(max-width: 875px) 100vw, 
                           (max-width: 1575px) 100vw, 
                           1750vw"
                    src="{{ post.tactic_url_1200px }}" alt="Main Pic">

                </div>
            </div>
            <div class="col-md-4">
            </div>    
        </div>        

        <br>

        <div class="row">
            <div class="col-md-offset-5 col-md-7">
                <ul class="share">       
                    <li><button id="yt-shareBtn" class="yt-button" type="button" onclick="yt_click(post_id)"></button></li>             
                    <li><button id="fb-shareBtn" class="fb-button" type="button" onclick="fb_click(post_url, post_hdr, post_pic_url)"></button></li>
                    <li><button id="tw-shareBtn" class="tw-button" type="button" onclick="tw_click(twttr, post_url, post_hdr, post_tag)"></button></li>
                    <li><i id="tc-comments" class="fa fa-comments" title="comments">{{ no_of_comments }}</i></li>                

                </ul>    
            </div>
        </div>

        <br>

        <!--a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Football is my religion" data-via="deepakpjose" data-hashtags="football" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script-->

        <div class="row">
            <div class="col-md-8 col-xs-12">
                <p class="post-body">{{ post.body }}</p>
            </div>
            <div class="col-md-4">
            </div> 
        </div>
        <!-- /.row -->

        <hr>

        {% import "_macros.html" as macros %}

        <!-- row for comments-->
        <div>
            <h4>Comments</h4>
            {% if current_user.can(Permission.COMMENT) %}
                <div class=form-group>
                    <div style="color:black">
                        {% if current_user.is_authenticated %}
                            <textarea id="textIdwithUser" class="form-control" rows="10" cols="100" name="comment"></textarea>
                            <br>
                            <button type="submit" id="submitWithOutName">Submit</button>
                        {% else %}
                            <input id="inputId" class="form-control" type="text" size="20" name="uname" placeholder="Name">
                            <br>
                            <textarea id="textIdwithOutUser" class="form-control" rows="10" cols="100" name="comment" placeholder="What do you think?"></textarea>
                            <br>
                            <button type="submit" id="submitWithName">Submit</button>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <hr>

            {% include '_comments.html' %}
            <div id="div1"></div>

            {% if pagination %}
                <div class="text-center">
                    <div class="pagination">
                        {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=post.id) }}
                    </div>
                </div>
            {% endif %}
        </div>
        </div><!--jumbotron-->
        <!-- ./row for comments-->

        {% if rand_posts %}
        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Posts</h3>
            </div>

            {% for rand_post in rand_posts %}
                <div class="col-sm-3 col-xs-6">
                    <a href="{{ url_for('main.post', id= rand_post.id) }}">
                        <figure class="effect-marley">
                            <img class="img-responsive portfolio-item" src="{{ rand_post.tactic_url }}" alt=""/>
                            <h4> {{ rand_post.header }}</h4>
                        </figure>
                    </a>
                </div>
            {% endfor %}    
        </div>
        <!-- /.row -->
        <hr>
        {% endif %}

        
    </div>
    <!-- /.container -->
                    
    <!-- Footer -->
    {% include "footer_file.html" %}
        <!-- Modal -->
        <div class="modal" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span class="label label-primary">VIDEO</span></h4>
                    </div>      
                    <div class="modal-body">          
                      <iframe id="iframeYoutube" width="560" height="315"></iframe>             
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <scrint type="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/javascript" src="../static/js/post.min.js"></script>
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
      
        return t;
      }(document, "script", "twitter-wjs"));</script>    


</body>

</html>
